<div class="jumbotron">
    <h1>BgPeopleWebApi</h1>
    <p class="lead">BgPeopleWebApi is ASP.NET REST Server with Entity Framework Code First database.</p>
    <p><a href="https://github.com/TsvetanKT/BgPeopleWebApi" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

